<h1>Demo</h1>

<tfaster-item-toolbar class="my-item-toolbar"
                      [fixedItemsLeft]="fixedItemsLeft"
                      [addableItems]="addableItems"
                      [fixedItemsRight]="fixedItemsRight"
                      [fixedItemsOuterRight]="fixedItemsOuterRight"
                      [itemChooserAddIconTemplate]="addIconTemplate"></tfaster-item-toolbar>

<h3>Lorem Ypsum</h3>


<ng-template #addIconTemplate>
  <i class="material-icons md-light add">add</i>
  <i class="material-icons md-light arrow">arrow_forward</i>
</ng-template>


<ng-template #itemChooserItemTemplate let-itemChooserConfig let-itemConfig="itemConfig">
  <i class="material-icons md-light" style="margin: 2px">{{itemConfig.iconName}}</i>
</ng-template>

<ng-template #fixedDropdownItemTemplate let-itemData let-itemConfig="itemConfig" let-dropdownCtrl="dropdownController">
  <div class="my-toolbar-item"
       [ngClass]="itemConfig.colorClass"
       (click)="dropdownCtrl.toggle(itemData?.selectedItem$, itemConfig)">
    <i class="material-icons md-light">{{itemConfig.iconName}}</i>&nbsp;
    <ng-container *ngIf="itemData?.selectedItem$ | async as data">
      <span>{{data.label}}</span>&nbsp;
    </ng-container>
    <i class="material-icons md-light"
       [ngStyle]="{'transform': (dropdownCtrl.dropdownOpen$ | async) ? 'rotate(180deg)' : 'rotate(0deg)'}">expand_more</i>
  </div>
</ng-template>

<ng-template #dropdownItemTemplate let-itemData let-itemConfig="itemConfig" let-dropdownCtrl="dropdownController"
             let-removeClick="removeClick">
  <div class="my-toolbar-item"
       [ngClass]="itemConfig.colorClass"
       (click)="dropdownCtrl.toggle(itemData?.selectedItem$, itemConfig)">
    <i class="material-icons md-light">{{itemConfig.iconName}}</i>&nbsp;
    <ng-container *ngIf="itemData?.selectedItem$ | async as data">
      <span>{{data.label}}</span>&nbsp;
    </ng-container>
    <i class="material-icons md-light"
       [ngStyle]="{'transform': (dropdownCtrl.dropdownOpen$ | async) ? 'rotate(180deg)' : 'rotate(0deg)'}">expand_more</i>
    <i class="material-icons md-light" (click)="removeClick()">close</i>
  </div>
</ng-template>

<ng-template #searchItemTemplate let-itemData let-itemConfig="itemConfig" let-dropdownCtrl="dropdownController"
             let-removeClick="removeClick">
  <div class="my-toolbar-item" [ngClass]="(itemData.searchTerm$ | async)?.length > 0 || (dropdownCtrl.dropdownOpen$ | async)? itemConfig.colorClass : ''">
    <div (click)="dropdownCtrl.toggle(itemData)" style="display: flex; align-items: center;">
      <i class="material-icons md-light" [style.color]="(dropdownCtrl.dropdownOpen$ | async) || (itemData.searchTerm$ | async)?.length > 0 ? 'black' : 'white'">search</i>
      <ng-container *ngIf="itemData.searchTerm$ | async as searchTerm">
        <span>&nbsp;{{searchTerm}}&nbsp;</span>
        <i class="material-icons md-light"
           [ngStyle]="{'transform': (dropdownCtrl.dropdownOpen$ | async) ? 'rotate(180deg)' : 'rotate(0deg)'}">expand_more</i>
      </ng-container>
    </div>
    <ng-container *ngIf="itemData.searchTerm$ | async">
      <i class="material-icons md-light" style="display: inline-block"
         (click)="itemData.searchTerm$.next('');">close</i>
    </ng-container>
  </div>
</ng-template>

<ng-template #dropdownTemplateHeroes let-itemData let-itemConfig="itemConfig" let-dropdownCtrl="dropdownController"
             let-availableHeight$="availableHeight$">
  <div class="my-toolbar-item-callout"
       [ngClass]="itemConfig.colorClass"
       style="width: 240px">
    <app-demo-list [height]="(availableHeight$ | async)"
                   [selectedItem]="itemData | async"
                   (selectedItemChange)="itemData.next($event); dropdownCtrl.close()"></app-demo-list>
  </div>
</ng-template>

<ng-template #dropdownTemplateMovies let-itemData let-itemConfig="itemConfig" let-dropdownCtrl="dropdownController">
  <div class="my-toolbar-item-callout"
       [ngClass]="itemConfig.colorClass"
       style="width: 240px"
       cdkTrapFocus
       cdkTrapFocusAutoCapture="true">
    <div style="flex: 1 1 0%; overflow: auto">
      <div *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]" style="padding: 4px 8px">
        <input type="checkbox" [id]="'opt' + i">
        <label [for]="'opt' + i">Option {{i}}</label>
      </div>
    </div>
    <button (click)="dropdownCtrl.close()">Apply</button>
  </div>
</ng-template>

<ng-template #dropdownTemplateTime let-itemData let-itemConfig="itemConfig" let-dropdownCtrl="dropdownController">
  <div class="my-toolbar-item-callout"
       [ngClass]="itemConfig.colorClass"
       style="width: 600px; height: 100%;">
    <div style="flex: 1 1 0%; overflow: auto">
      <div style="height: 1000px; padding: 24px">Large Box</div>
    </div>
    <button (click)="dropdownCtrl.close()">Close</button>
  </div>
</ng-template>

<ng-template #dropdownTemplateSearch let-itemData let-dropdownCtrl="dropdownController">
  <form class="my-toolbar-item-callout my-toolbar-item-callout-cyan"
        style="padding: 8px 8px"
        cdkTrapFocus
        cdkTrapFocusAutoCapture="true">
    <input type="text"
           style="width: 220px"
           [value]="itemData.searchTerm$ | async"
           (keyup)="itemData.searchTerm$.next($event.target.value)">
    <div style="padding: 8px 0">
      <input type="checkbox" id="searchMatchCase">
      <label for="searchMatchCase">Match case</label>
      <input type="checkbox" id="searchMatchWords">
      <label for="searchMatchWords">Words</label>
    </div>
  </form>
</ng-template>

<ng-template #buttonsItemTemplate>
   <button>Menu</button>
</ng-template>
